@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #FD6E0A;
    display: inline-block;
    border-radius: 5px;
}
h1, h2, h3, h4, h5, h6{
    color: #181818;
}
p{
    color: #757575;
}
color-3{
    color: #474747;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/*-- header-section-start --*/
.header-section{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, center left;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0;
}
.nav-logo{
    text-decoration: none;
}
.nav-logo a{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    text-decoration: none;
}
.nav-logo a span{
    color: #FD6E0A;
}
.nav-bar-menu{
    display: flex;
    align-items: center;
}
.nav-bar-menu li{
    list-style: none;
    margin-left: 50px;
}
.nav-bar-menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.nav-bar-menu button{
    border: none;
}
/*-- banner-start --*/
.banner{
    padding: 115px 30px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-content h1{
    font-size: 85px;
    font-weight: 700;
    margin: 20px 0;
}
.banner-content p{
    margin-bottom: 30px;
    font-size: 18px;
}
.banner-content ul{
    display: flex;
}
.banner-content ul li{
    list-style: none;
    margin-right: 30px;
}
.banner-content ul li .border-btn{
    border: 1px solid #FD6E0A;
    background-color: transparent;
    color: #FD6E0A;
}
.banner-content ul li a{
    text-decoration: none;
}
.banner-content ul li a i{
    margin-right: 10px;
}
/*-- banner-end --*/
/*-- hader-section- end --*/

/*-- about-me-section start --*/
.about-me{
    background-color: #FFF8F3;
    text-align: center;
   margin-top: 130px;
   margin-bottom: 130px;
   padding: 130px 150px;
   box-sizing: border-box;
}
.about-content h3{
    font-size: 35px;
    font-weight: 700;
}
.about-content > p{
    margin: 30px 0;
    padding: 0 60px;
}
.about-content ul{
    display: flex;
    justify-content: center;
}
.about-content li{
    list-style: none;
    margin: 0 25px;
}
.about-content li p{
    margin-bottom: 12px;
}
/*-- about-me-section end --*/

/*-- what-i-do-section start --*/
.what-do{
    text-align: center;
}
.what-do .commen-hadding{
    margin-bottom: 50px;
}
.what-do .commen-hadding h3{
    margin-bottom: 30px;
    font-size: 35px;
}
.what-dos{
    display: flex;
    text-align: left;
    gap: 24px;
}
.what-dos .single-what-do{
    padding: 30px 33px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/*-- what-i-do-section end --*/

/*-- summary-section start --*/
.summary{
    margin-top: 130px;
    margin-bottom: 130px;
}
.summary .summary-hadding h3{
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 110px;
    font-weight: 700;
}
.summary .summary-contant{
    display: flex;
    gap: 24px;
}
.summary .single-summary{
    padding: 0 40px 0 40px;
}
.summary .single-summary h5{
    font-size: 30px;
    font-weight: 700;
}
.summary .single-summary h6{
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0 10px 0;
}
.summary .single-summary span{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
    display: block;
}
.summary .single-summary p{
    margin-bottom: 30px;
}
.summary .single-summary hr{
    margin-bottom: 30px;
}
.summary .summary-btn{
    text-align: center;
    margin-top: 30px;
}
.summary .summary-btn .btn-primary{
    border: none;
}
/*-- summary-section end --*/